<title>Measles Project</title>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<script src="/static/d3.min.js"></script>
<script src="/static/plotly-latest.min.js"></script>
<script src="/static/underscore-min.js"></script>
<script src="/static/plot.js"></script>
<style>
p, li {
    max-width: 10in;
}
</style>

<h1>Immunization (Measles) Project</h1>

<!-- Add picture -->
<img src="/static/Measles.jpg"
    title = "vaccination image from childrensmd.org"
    style = "float: middle; max-width: 20%; height: 400px; margin-left: 8px; border-radius: 8px;">



<p>

Information regarding the measles vaccine
<a href="https://en.wikipedia.org/wiki/Measles_vaccine">measles vaccine</a>
in different countries, across different years. It is based on three related
datasets </p>

<p>Data:</p>

<ul>
    <li><a href="/deaths" target="_blank">Deaths</a> - deaths caused by
        measles, by country for 2015. </li>
    <li><a href="/coverage" target="_blank">Coverage</a> - measles vaccine
        coverage by country for 2015.</li>
    <li><a href="/disagrees" target="_blank">Disagrees</a> - 2015 evaluation
        by percent of population that disagrees vaccines are safe. </li>
</ul>

